<section class="mt-9">
  <div class="flex items-center justify-between">
    <span class="font-semibold text-gray-800 dark:text-white">Top Stars</span>
  </div>
  <div class="mt-4 grid grid-cols-2 sm:grid-cols-4 gap-5">
    <!-- ตัวอย่างดารา -->
    <div class="relative rounded-xl overflow-hidden">
      <img src="https://www.jolie.de/sites/default/files/styles/image_gallery360w/public/2020-02/leonardo-dicaprio-oscars.jpg" class="object-cover h-full w-full" alt="">
      <div class="absolute inset-0 bg-gradient-to-t from-black/60 p-3 flex flex-col justify-between">
        <div class="self-center text-center">
          <div class="text-white font-medium">Leonardo DiCaprio</div>
          <div class="text-gray-200 text-xs">+12 Movies</div>
        </div>
      </div>
    </div>
  </div>
</section>
